.frame-child6 {
  width: 288px;
  height: 304px;
  position: relative;
  border-radius: var(--br-3xs);
  border: 1px solid var(--white);
  box-sizing: border-box;
  display: none;
}
.spotify-icon {
  height: 48px;
  width: 48px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.frame-child7 {
  width: 1px;
  height: 33px;
  position: relative;
  border-right: 1px solid var(--white);
  box-sizing: border-box;
  z-index: 1;
}
.line-wrapper {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.full-time2 {
  position: relative;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 81px;
  z-index: 1;
}
.full-time-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.spotify-parent {
  width: 193px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  color: var(--color-springgreen-100);
}
.visual-designer {
  position: relative;
  line-height: 32px;
  font-weight: 600;
  z-index: 1;
}
.join-our-team2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  z-index: 1;
}
.visual-designer-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-5xl);
}
.more-details2 {
  position: relative;
  text-decoration: underline;
  line-height: 24px;
  display: inline-block;
  min-width: 94px;
  z-index: 1;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.vector-icon1 {
  z-index: 2;
}
.vector-parent {
  width: 6.7px;
  height: 6.7px;
  position: relative;
}
.frame-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xs-6);
}
.group-div,
.more-details-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-smi-7);
}
.group-div {
  width: 288px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--white);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-11xl) var(--padding-5xl) var(--padding-11xl)
    var(--padding-19xl);
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-nunito-sans);
}
@media screen and (max-width: 450px) {
  .visual-designer {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
}
